<section>
  <h1>{{title}} Application</h1>

  <div class="celebrities">
    <h2>Celebrities</h2>
    <a href="/celebrities">See all Celebrities</a>
    <a href="/celebrities/new">Add new Celebrity</a>
  </div>

  <div class="movies">
    <h2>Movies</h2>
    <a href="/movies">See all Movies</a>
    <a href="/movies/new">Add new Movie</a>
  </div>


</section>